.App {
  text-align: center;
  background-color: fuchsia;
}
header{
  display: flex;
  justify-content: center;
  color: white;
  background-color: grey;
}
section{
  display: flex;
  justify-content: center;
}
.confirmed-case, .death-case, .recovery-case {
  height: 150px;
  border: 1px solid black;
  width: 300px;
  margin: 20px;
  box-shadow: 0 6px 5px 3px grey;
  border-radius: 150px;
}
.confirmed-case{
background-color: yellow;
}
.death-case{
  background-color: red;
  color: white;

} 
.recovery-case{
background-color: green;
color: white;
}
